04-Branching.json
{
  "updatedAt": "2026-06-10T09:55:06.190Z",
  "createdAt": "2026-06-09T11:18:25.638Z",
  "id": "tdgnlUJZisBQT8ND",
  "name": "04-Branching",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "classify",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        32
      ],
      "id": "046a8404-9bfe-426a-b369-01bb8fab4e74",
      "name": "Webhook",
      "webhookId": "c2d5e0ec-ea5b-4e46-b69a-0f2a77ab2758",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1591f16-0eea-4ffc-9427-6837c7eccdf4",
              "name": "body.email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "6ce8658b-553e-4399-8c7c-f89dedd506ea",
              "name": "urgency",
              "value": "empty",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        32
      ],
      "id": "f78241a7-6fd5-46b8-8397-793ef1eef08f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following email:\n\n{{$json.body.email}}\n\nset the \"urgency\" in the output JSON accordingly.\nif the email is unreadable or off-topic, then choose the \"error\" option!\n\nGenerate a response to the users specific message, referring to their original question, and tell them that we will contact them shortly. Write this into the \"response\" JSON field.\n\nReturn JSON only:\n{\n  \"emailBody\": \"{{$json.body.email}}\",\n  \"urgency\": \"low|high|error\",\n  \"response\": \"msg\"\n}",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 10,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        32
      ],
      "id": "7c210aa6-e5f8-4663-b1c3-4e7034c314b6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "webhook-test"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        720,
        240
      ],
      "id": "b3016542-2bb7-420c-926d-3ad7690a1cb5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "qwen3.6:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        592,
        240
      ],
      "id": "f39a537f-0227-4952-9675-f65c0e6e744e",
      "name": "Qwen3.6",
      "credentials": {
        "ollamaApi": {
          "id": "8Lrh9Ad98UHXPlkG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f98930c-1b0c-4389-a03a-21ee119a4890",
              "name": "body",
              "value": "={{ $('Webhook').item.json.body.email }}",
              "type": "string"
            },
            {
              "id": "aa29dfec-354e-4728-b734-9b14b271b5dd",
              "name": "urgency",
              "value": "={{ $json.output.urgency }}",
              "type": "string"
            },
            {
              "id": "9f81a8de-890b-41bd-b94b-28cf6c0939d8",
              "name": "response",
              "value": "={{ $json.output.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        32
      ],
      "id": "4fdc170a-f9f1-46d2-b996-d09fe8050f80",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"urgency\": \"string\",\n  \"response\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        864,
        240
      ],
      "id": "6eeeeb84-1c59-44d3-ab3f-0670b8c7a3aa",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.urgency }}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c348400d-c6ca-4cca-a8a9-0a3b4600f50f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6a4ee4dd-37e3-4e1a-abd7-ecc23af1f9f6",
                    "leftValue": "={{ $json.urgency }}",
                    "rightValue": "medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1200,
        16
      ],
      "id": "cd66f925-a2b9-4cfd-9811-51324a76c577",
      "name": "Switch",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6af5e9a6-21ed-491f-95e7-e9b92606d9d3",
              "name": "action",
              "value": "Escalate immediately \u2014 create ticket",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        -128
      ],
      "id": "9d7e0cf3-0e27-4470-a01d-4d915bd484c1",
      "name": "Escalate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6af5e9a6-21ed-491f-95e7-e9b92606d9d3",
              "name": "action",
              "value": "Log and queue for review",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        32
      ],
      "id": "58844b6a-d488-45f1-a286-9825e3e12f8e",
      "name": "Backlog"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6af5e9a6-21ed-491f-95e7-e9b92606d9d3",
              "name": "action",
              "value": "Unknown \u2014 manual review required",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        208
      ],
      "id": "f424455b-49a8-49d6-8834-a5030bf0e1ff",
      "name": "Manual"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        -272
      ],
      "id": "bc9cd7be-7933-47ab-ac6c-f5f99dd21439",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2a6f602-6a19-4aa8-8aad-1b519abd8c93",
              "name": "greeting",
              "value": "=Dear customer, calling from {{ $json.headers.host }}. Thank you for your message! We will get back to you as soon as possible. Have a nice day :)",
              "type": "string"
            },
            {
              "id": "32fa9bbe-89e4-46ca-9777-317bf677b82a",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -272
      ],
      "id": "61b784ee-0550-4731-8f2f-f65cbdc5723c",
      "name": "AnswerMsg"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1312,
        -272
      ],
      "id": "444b79a7-bf3f-45c9-8af4-d29dceb1ff9c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2a6f602-6a19-4aa8-8aad-1b519abd8c93",
              "name": "",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -272
      ],
      "id": "919fe038-9595-442b-8a7e-5b30cd7af4a2",
      "name": "AnswerMsg1"
    },
    {
      "parameters": {
        "content": "Vulnerable for prompt injection",
        "height": 80,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        -400
      ],
      "id": "43029f75-e30a-482e-be2f-c8b251064c43",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Simple Answer",
        "height": 80,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -400
      ],
      "id": "143fe3a1-2c80-4d9e-95c5-97c5b7c11902",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qwen3.6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "AnswerMsg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Escalate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backlog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AnswerMsg": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AnswerMsg1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "1ef648cc-8675-4eb4-a204-b8098ea4f3f6",
  "activeVersionId": null,
  "versionCounter": 261,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-09T11:18:25.641Z",
      "createdAt": "2026-06-09T11:18:25.641Z",
      "role": "workflow:owner",
      "workflowId": "tdgnlUJZisBQT8ND",
      "projectId": "byVWfFHmU6imD002",
      "project": {
        "updatedAt": "2026-06-07T08:46:52.498Z",
        "createdAt": "2026-06-07T08:43:18.289Z",
        "id": "byVWfFHmU6imD002",
        "name": "Achim Karim <d_o_z_e_r@gmx.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "982552bf-c16a-48d5-aecc-54ef0104226c"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}