05-Item-Batching.json
{
  "updatedAt": "2026-06-10T09:13:03.777Z",
  "createdAt": "2026-06-10T09:03:24.130Z",
  "id": "ibZXBS68SaUzEqnw",
  "name": "05-Item-Batching",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "28bcff44-bd69-4e9a-aef5-c2f20255f0be",
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { email: \"Mein Telefon ist seit Stunden tot, ich verliere Kunden!\", id: \"001\" }},\n  { json: { email: \"K\u00f6nnten Sie mir die Anrufweiterleitung erkl\u00e4ren? Eilt nicht.\", id: \"002\" }},\n  { json: { email: \"Auf meiner Rechnung ist ein unklarer Posten.\", id: \"003\" }}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "827f075f-3fe0-478b-b2be-093cd13d7fa6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following email:\n\n{{$json.body.email}}\n\nif the email is unreadable or off-topic, then choose the \"error\" option!\n\nReturn JSON only:\n{\n  \"emailBody\": \"{{$json.body.email}}\",\n  \"urgency\": \"low|high|error\"\n}",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 10,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "9178782b-4a29-41bf-8af0-147f2993798c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "webhook-test"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        464,
        208
      ],
      "id": "d1b42578-b1e0-4bf1-b048-d883e6d7e404",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"urgency\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        208
      ],
      "id": "c0192ca0-adff-4de1-aea6-3c08a9b65711",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "qwen3.6:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        336,
        208
      ],
      "id": "2b0af237-c203-454a-82e4-ba9018b95d32",
      "name": "Qwen3.6",
      "credentials": {
        "ollamaApi": {
          "id": "8Lrh9Ad98UHXPlkG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37850f99-a69a-4f42-bfaa-0529303c6283",
              "name": "id",
              "value": "={{ $('Code in JavaScript').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "21809a96-598b-45f4-a0fb-bffb6eca02ff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        976,
        0
      ],
      "id": "df642f77-4a01-4390-b99e-8aa9e0001600",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "Aggregate - JSON object array into ONE JSON object containing the array",
        "height": 96,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        976,
        -176
      ],
      "id": "16dcdb2f-6afe-447d-b64f-d15ca4fac6e8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "$('NodeName').item\naccessing node items upstream by String-Name",
        "height": 96,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -176
      ],
      "id": "b1301c8e-2396-4743-838e-4f9b985d8fc7",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen3.6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "139853ed-e617-4fde-ac70-0dfee28bdbcf",
  "activeVersionId": null,
  "versionCounter": 31,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-10T09:03:24.133Z",
      "createdAt": "2026-06-10T09:03:24.133Z",
      "role": "workflow:owner",
      "workflowId": "ibZXBS68SaUzEqnw",
      "projectId": "byVWfFHmU6imD002",
      "project": {
        "updatedAt": "2026-06-07T08:46:52.498Z",
        "createdAt": "2026-06-07T08:43:18.289Z",
        "id": "byVWfFHmU6imD002",
        "name": "Achim Karim <d_o_z_e_r@gmx.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "982552bf-c16a-48d5-aecc-54ef0104226c"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}